<!-- <p>card works!</p> -->
<div class = "flex-wrap">
  <div class="example-box" cdkDrag>
      <h1>Crude Supply</h1>
      <p>Presenting indigenous production, imports, exports</p>
      <p>stock changes and refinery intake for 38 years</p>
      <p>1960-2021. Data are in kilotonnes. Zip files </p>
      <p>contain data in fixed-width TXT format currently</p>
    
      <div class="example-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
  </div>

  <div class="example-box" cdkDrag>
      <h1>Product Supply</h1>
      <p>Presenting refinery gross output, recycled products</p>
      <p>imports, exports, transfers, stock changes, </p>
      <p>international marine bunkers and gross deliveries</p>
      <p>for 38 OECD counties. 14 European and 7 regional</p>
    
      <div class="example-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
  </div>

  <div class="example-box" cdkDrag>
      <h1>Imports and Exports</h1>
      <p>Imports from 170 origins and exports to 168</p>
      <p>destinations for 24 products. This includes crude</p>
      <p>oil, NGLs, motor gasoline, gas/diesel oil, residual</p>
      <p>fuel oil and other refined products in kilotonnes</p>
    
      <div class="example-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
  </div>

  <div class="example-box" cdkDrag>
      <h1>Conversion Factors</h1>
      <p>This table includes the average conversion</p>
      <p>factors from tonnes to barrels, for the 38 OECD</p>
      <p>countries and 14 European non-OECD countries and</p>
      <p>for 24 products. ZIP files contain data thats fixed</p>

      <div class="example-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
  </div>
  <div class="example-box" cdkDrag>
      <h1>Oil Statistics</h1>
      <p>Provided on crude oil and NGL production, </p>
      <p>refinery output, total trade and oil demand for</p>
      <p>the world for 153 countries and 25 aggregates</p>
      <p>for years 1971-2021 provisional production</p>
    
      <div class="example-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
  </div>

</div>


<!-- <div class = "charts" style = "padding:  2% 0% 0% 0%">   
    <div class="line" [chart] = "lineChart"></div>
    <div class="line" [chart] = "line2Chart"></div>
    <div class="line" [chart] = "line3Chart"></div>
</div> -->