.distance{
    margin-left: 68%;
}

.accent{
    background-color: darkgreen;
}

.news{
    margin-left: 33%;
}
.raised{
    margin-right: 1%;
}

.heart{
    margin-top: .5%;
    color: rgb(253, 253, 253);

}