<mat-toolbar>
    <span class ="news">NexTier and Patterson-UTI to combine in merger of equals. Learn More</span>
  </mat-toolbar>
  
  <p fxLayout = "row" fxLayoutAlign = "center center">
  <mat-toolbar class="accent">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>NexTier</span>
    <span class="distance"></span>
    
    
    <a mat-raised-button class = "raised" href="https://www.mdtcloud.com/portal/communication-status">MDT</a>
    
    <a mat-raised-button class = "raised"  href="https://n180.meraki.com/o/kuDQSc/manage/organization/summary">Meraki</a>

    <a href = "https://google.com" class = "heart">
        <mat-icon>favorite</mat-icon>   
    </a>
    <button href ="https://muhimasri.com/blogs/how-to-create-button-link-with-mui/" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
      <a href ="https://google.com"></a>
    </button>
    <span class="material-icons" href="https://nextierofs.com/" style="color: rgb(255, 255, 255);"> add_business </span>

    
  </mat-toolbar>
</p>

<!-- <p>nav-bar works!</p> -->
